@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #050404;
  background-image:
    repeating-linear-gradient(to right, transparent 0 100px, #25283b22 100px 101px),
    repeating-linear-gradient(to bottom, transparent 0 100px, #25283b22 100px 101px);
  overflow-x: hidden;
}

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* ----- Rotating Cards ----- */
.banner .slider {
  position: absolute;
  width: 150px;
  height: 200px;
  top: 15%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translateX(-50%) perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 9;
}

@keyframes autoRun {
  from { transform: translateX(-50%) perspective(9000px) rotateX(-10deg) rotateY(0deg); }
  to { transform: translateX(-50%) perspective(9000px) rotateX(-10deg) rotateY(360deg); }
}

.banner .slider .item {
  position: absolute;
  inset: 0;
  transform:
    rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
    translateZ(550px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* ----- Heading ----- */
.banner .content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(1400px, 100vw);
  text-align: center;
  z-index: 99;
}

.banner .content h1 {
  font-family: 'ICA Rubrik', sans-serif;
  font-size: 13vw;
  line-height: 1em;
  color:transparent;
  position: relative;
  top: 160px;
  display: inline-block;
   -webkit-text-stroke: 2px #97800c; 
   background: none;
}

.banner .content h1::after {
  position: absolute;
  inset: 0;
  content: attr(data-content);
  z-index: 99;
  -webkit-text-stroke: 2px #aa821b;
  color: transparent;
}

/* ----- Model ----- */
.banner .model {
  background: url('images/model.png') no-repeat center bottom;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 85vh;
  bottom: -9vh;
  left: 0;
  z-index: 9;
}

/* ----- Bottom Section ----- */
.bottom-section {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
  z-index: 2;
}

.bottom-text h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #d2d2d2;
}

/* ----- Explore Button ----- */
.explore-btn {
  position: absolute;
  right: 6%;
  bottom: 40px;
  background: #d2d2d2;
  border: none;
  color: #050404;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 12px 36px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 20;
}

.explore-btn:hover {
  background: #25283B;
  color: #fff;
}

/* ---------- Responsive ---------- */
@media (max-width: 1023px) {
  .banner .slider {
    width: 140px;
    height: 180px;
    top: 100px;
  }
  .banner .slider .item {
    transform:
      rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
      translateZ(320px);
  }
  .banner .content h1 {
    font-size: 14vw;
  }
}

/* ---------- Mobile View ---------- */
@media (max-width: 767px) {
  .banner .slider {
    width: 100px;
    height: 140px;
  }
  .banner .slider .item {
    transform:
      rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
      translateZ(180px);
  }
  .banner .content h1 {
    font-size: 18vw;
  }

  .bottom-section {
    flex-direction: column;
    bottom: 0;
    padding: 1rem 0;
    text-align: center;
  }

  .explore-btn {
    position: static;
    margin-top: 2rem;
    font-size: 1rem;
    padding: 10px 28px;
  }
}
a{
    text-decoration: none;
    color: inherit;
}